#content {
  .wp-block-group__inner-container,
  .wp-block-cover__inner-container {
    @extend .container;

    .wp-block-group__inner-container {
      padding: 0;
      margin: 0;
    }

    .wp-block-columns {
      margin: 0;
    }
  }
}

.wp-block-buttons .wp-block-button {
  margin: 0;

  &:hover {

    .wp-block-button__link {
      opacity: 0.8;
      text-decoration: none;
    }
  }

  .wp-block-button__link {
    transition: opacity 0.2s, color 0.2s, border-color 0.2s;
    font-size: 14px;
  }
}
