@import "palette";
@import "breakpoints";

.header {
  .header-inner {
    z-index: 2;

    &__primary {
      height: 55px;
      background: $SECONDARY-1;

      @media (max-width: $mobileBreakpoint) {
        display: none;
      }

      &.active {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: scroll;
        min-height: 100vh;
        width: 100vw;
        z-index: 10;

        .nav {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          flex-direction: column;
          flex-wrap: nowrap;
          padding: 15px 30px;

          .menu-container {
            display: flex;
            width: 100%;

            .menu {
              display: flex;
              flex-direction: column;
              width: 100%;

              *::after {
                display: none;
              }

              & > .menu-item {
                width: 100%;
                padding: 0;
                margin-bottom: 20px;


                &.current-page-ancestor > a,
                &.current_page_item.menu-item-has-children > a {
                  border: 1px solid $ACCENT-1;
                  font-weight: bold;
                }

                a {
                  display: flex;
                  padding: 12px 22px;
                  font-size: 16px;
                }

                .sub-menu {
                  margin-left: 30px;

                  .menu-item:not(:last-of-type) {
                    a {
                      border-bottom: 1px solid rgba($PRIMARY-1, 0.2);
                    }
                  }
                }
              }
            }
          }

          .contact-us {
            padding: 12px 22px;
            font-size: 16px;
          }

          .hamburger-menu {
            height: 40px;
            width: 40px;
            border: none;
            position: absolute;
            top: 10px;
            right: 15px;
            background: transparent;

            &__icon {
              background: $PRIMARY-1;
              position: relative;
              display: inline-block;
              height: 3px;
              width: 24px;
              top: -6px;
              transform: rotate(45deg);

              &::after {
                content: '';
                background: $PRIMARY-1;
                position: absolute;
                left: 0;
                top: 0;
                height: 3px;
                width: 24px;
                transform: rotate(90deg);
              }
            }

            @media (max-width: $mobileBreakpoint) {
              display: block;
            }
          }
        }
      }

      .nav {
        justify-content: space-between;

        .menu-container {
          display: flex;
          align-items: center;

          .menu .menu-item {
            &:first-of-type a {
              padding-left: 0;

              @media (max-width: $mobileBreakpoint) {
                padding-left: 22px;
              }
            }

            a {
              font-size: 0.8125em;
              color: $PRIMARY-1;
            }
          }
        }
      }

      .contact-us {
        display: flex;
        align-items: center;
        color: $PRIMARY-1;
        font-size: 0.8125em;

        &:hover {
          text-decoration: none;
          opacity: 0.8;
        }
      }

      .hamburger-menu {
        display: none;
      }
    }

    &__secondary {
      height: 130px;
      background: $PRIMARY-1;
      box-shadow: 0 1px 2px rgba(153,153,153, 0.4);

      @media (max-width: $mobileBreakpoint) {
        height: 60px;
      }

      &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
      }

      .nav {
        justify-content: flex-start;

        @media (max-width: $mobileBreakpoint) {
          justify-content: space-between;
        }

        .logo {
          display: flex;
          width: 100px;
          height: max-content;
          margin-right: 20px;
        }

        .menu-container {
          display: flex;
          align-items: center;

          @media (max-width: $mobileBreakpoint) {
            display: none;
          }

          .menu .menu-item a {
            color: $SECONDARY-1;
            font-size: .9em;
          }
        }

        .hamburger-menu {
          height: 40px;
          width: 40px;
          border: none;
          position: relative;
          display: none;
          background: transparent;

          @media (max-width: $mobileBreakpoint) {
            display: block;
          }

          &__icon {
            background: $SECONDARY-1;
            position: relative;
            display: inline-block;
            height: 3px;
            width: 24px;
            top: -12px;

            &::before {
              content: '';
              background: $SECONDARY-1;
              position: absolute;
              left: 0;
              top: 8px;
              height: 3px;
              width: 16px;
            }

            &::after {
              content: '';
              background: $SECONDARY-1;
              position: absolute;
              left: 0;
              top: 16px;
              height: 3px;
              width: 24px;
            }
          }
        }
      }
    }

    .nav {
      height: 100%;
      padding-left: 15px;
      display: flex;
      align-items: center;

      .menu-container {
        .menu {
          list-style: none;
          display: flex;
          margin: 0;

          .menu-item {
            position: relative;

            a {
              transition: opacity 0.2s;
              padding: 20px;

              &:hover {
                text-decoration: none;
                opacity: 0.8;
              }
            }

            &:first-of-type::after {
              content: '';
              position: absolute;
              height: 100%;
              width: 1px;
              background: $PRIMARY-1;
              top: 0;
              right: 0;
              opacity: 0.7;
            }

            .sub-menu {
              display: none;

              @media (max-width: $mobileBreakpoint) {
                display: block;
              }
            }

            &.current-menu-item > a,
            &.current-menu-parent > a,
            &.current-page-ancestor > a {
              color: $ACCENT-1;
            }
          }
        }
      }
    }
  }
}

/*
  HOME VARIANT
*/

.home {
  position: relative;

  .header .header-inner {
    &__primary {
      border-bottom: 1px solid $SECONDARY-2;
    }

    &__secondary {
      position: absolute;
      background: transparent;
      box-shadow: none;
      top: 55px;
      left: 0;
      width: 100%;

      @media (max-width: $mobileBreakpoint) {
        position: fixed;
        top: 0;
      }

      .hamburger-menu {
        &__icon {
          background: $PRIMARY-1;

          &::before {
            background: $PRIMARY-1;
          }

          &::after {
            background: $PRIMARY-1;
          }
        }
      }
    }
  }
}
